[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
[submodule "CPP-Module03/ex00/tests/googletest"]
	path = CPP-Module03/ex00/tests/googletest
	url = git@github.com:google/googletest.git
[submodule "CPP-Module03/ex01/tests/googletest"]
	path = CPP-Module03/ex01/tests/googletest
	url = git@github.com:google/googletest.git
[submodule "CPP-Module03/ex02/tests/googletest"]
	path = CPP-Module03/ex02/tests/googletest
	url = git@github.com:google/googletest.git
[submodule "CPP-Module03/ex03/tests/googletest"]
	path = CPP-Module03/ex03/tests/googletest
	url = git@github.com:google/googletest.git
